doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css", integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2", crossorigin="anonymous")
    title 秘密の匿名掲示板
  body.container
    div.my-3
      a(href="/logout").btn.btn-info.float-right ログアウト
      h1 秘密の匿名掲示板
    h2 新規投稿
    form(method="post" action="/posts")
      div.form-group
        textarea(name="content" rows="4").form-control
        input(type="hidden" name="oneTimeToken" value=oneTimeToken)
      div.form-group
        button(type="submit").btn.btn-primary 投稿

    h2 投稿一覧
    each post in posts
      div.card.my-3
        div.card-header
          - var isPostedByAdmin = (post.postedBy === 'admin')
          if isPostedByAdmin
            span #{post.id} : 管理人 ★
          else
            - var originalTrackingId = post.trackingCookie ? post.trackingCookie.split('_')[0] : ''
            span #{post.id} : ID:#{originalTrackingId}
        div.card-body
          p.card-text(style="white-space:pre; overflow:auto;") #{post.content}
        div.card-footer
          div 投稿日時: #{post.formattedCreatedAt}
          - var isAdmin = (user === 'admin')
          if isAdmin
            div 投稿者: #{post.postedBy}
          - var isDeletable = (user === post.postedBy || isAdmin)
          if isDeletable
            form(method="post" action="/posts?delete=1")
              input(type="hidden" name="id" value=post.id)
              input(type="hidden" name="oneTimeToken" value=oneTimeToken)
              button(type="submit").btn.btn-danger.float-right 削除

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx", crossorigin="anonymous")
